body {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 17px;

    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

    width: 940px;
}

.button {          
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #ee3643;
}

.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

/* header */

.header-mid-content h1 {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    margin-left: 52px;
    margin-bottom: 9px;

    width: 200px;
    
    display: inline-block;
}

.header-bookmarks {
    position: relative;

    color: #ffffff;
    text-decoration: none;

    padding-left: 36px;
    padding-right: 22px;
    padding-top: 10px ;
    padding-bottom: 11px;

    display: inline-block;
}

.header-bookmarks::before {
    content: "";

    position: absolute;
    top: 12px;
    left: 11px;

    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;

    width: 14px;
    height: 16px;
}

.header-bookmarks:hover::before {
    opacity: 1;
}

.header-bookmarks:hover {
    background-color: #161d29;
}

.header-bookmarks:active {
    opacity: 0.5;
}

.header-basket {
    position: relative;

    color: #ffffff;
    text-decoration: none;

    padding-left: 52px;
    padding-right: 29px;
    padding-top: 10px;
    padding-bottom: 11px;

    display: inline-block;
}

.header-basket::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 21px;

    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    opacity: 0.3;

    width: 16px;
    height: 16px;
}

.header-basket:hover::before{
    opacity: 1;
}

.header-basket:hover {
    background-color: #161d29;
}

.header-basket:active {
    opacity: 0.5;
}

.header-checkout {
    color: #ffffff;
    text-decoration: none;

    background-color: #63a63e;

    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 22px;
}

.header-checkout:hover {
    background-color: #5fbb2d;
}

.header-checkout:active {
    opacity: 0.5;
}

.header-search input {
    border: none;
    background-color: #293449;

    padding-left: 45px;
    padding-top: 11px;
    padding-bottom: 11px;

    width: 270px;
}

.header-search input:hover {
    background-color: #212a3a;
}

.header-search input:focus:hover, .header-search input:focus  {
    background-color: #ffffff;
}

.header-search input:hover + .header-search-icon {
    opacity: 1;
}

.header-search input:focus + .header-search-icon path {
    fill: #ee3643;
}

.header-search input:focus + .header-search-icon {
    opacity: 1;
}

.header-search {
    position: relative;
}

.header-search-icon {
    position: absolute;
    top: 12px;
    left: 14px;

    opacity: 0.3;
}

.main-header {
    background-color: #f3f7f9;

    padding-bottom: 48px;
}


.header-navigation {
    background-color: #293449;

    margin-bottom: 36px;
}

.header-navigation-content {
    display: flex;
    justify-content: space-between;
}

.header-mid-content {
    display: flex;
}

.header-contact {
    margin-left: 53px;
    
}

.logo {
    position: relative;

    font-size: 24px;
    line-height:24px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px 0 #b52933;

    padding-top: 10px;
    padding-bottom: 8px;

    width: 220px;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.navigaiton {
   margin-top: 33px;

   min-width: 940px;
}

.navigation-list {
    position: relative;

    list-style: none;

    background-color: #32425c;
    box-shadow: 0 5px 0 #293449;

    padding: 0;

    display: flex;
    
    flex-wrap: wrap;
}

.navigation-list a {
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;

    padding-bottom: 17px;
    padding-top: 19px;
    padding-right: 34px;
    padding-left: 33px;

    display: block;
}

.navigation-list a:hover {
    background-color: #293449;
}

.navigation-list a:active {
    color: #999ca1;

    background-color: #293449;
}


.phone-number {
    position: relative;

    font-size: 21px;
    color: #ee3643;
    text-decoration: none;

    border:3px solid #ffffff;

    padding-bottom: 7px;
    padding-top: 9px;
    padding-left: 71px;
    padding-right: 7px;
    margin-top: 9px;
    margin-left: 15px;

    width: 270px;

    display: inline-block;

    box-sizing: border-box;
}

.phone-number::before{
    content: "";

    position: absolute;
    left: 12px;
    top: 11px;

    background-image: url(../img/icon-phone.svg);

    width: 19px;
    height: 19px;
}

.adress {
    font-size: 14px;
    color: #32425c;

    margin: 0;
    margin-top: 8px;
    margin-left: 25px;
}

.header-icon-user {
    margin-right: 14px;
}

.account-block {
    display: none;
}

.account-content {
    background-color: #ffffff;

    padding-bottom: 12px;
    padding-top: 12px;
    padding-right: 10px;
    padding-left: 13px;
    margin-top: 12px;
    margin-left: 50px;

    width: 300px;

    display: flex;

    box-sizing: border-box;
}

.account-user-content {
    text-decoration: none;
    font-size: 21px;
    color: #000000;

    margin-right: 25px;

    display: flex;
}

.account-user-content:active {
    opacity: 0.3;
}

.account-user-content:hover path {
    fill: #32425c;
}

.account-logout-button {
    padding-top: 4px;
}

.account-logout-button:active {
    opacity: 0.3;
}

.account-logout-button:hover path {
    fill: #32425c;
}

.account-links {
    color: #32425c;

    padding: 0;
    margin-left: 50px;

    display: flex;
}

.account-link {
    list-style: none;

    margin-right: 33px;
    margin-left: 17px;
}

.header-account-buttons {
    margin-top: 10px;
    margin-left: 69px;

    display: flex;
    justify-content: flex-end;
}

.account-link-unit {
    font-size: 16px;
    color: #32425c;
}

.account-link-unit:hover {
    color: #ee3643;
}

.account-link-unit:active {
    color: #b7bfc8;
}

.sign-in-button {
    font-size: 21px;
    color: #000000;
    text-decoration: none;

    background-color: #ffffff;

    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 15px;

    width: 121px;

    box-sizing: border-box;
}

.sign-in-button:hover {
    color: #ee3643;
}

.sign-in-button:active {
    color: #b2b2b2;

    opacity: 0.3;
}

.sign-in-button-icon {
    padding-right: 7px;
}

.sign-in-button:hover path {
    fill: #32425c;
}

.registration-text {
    font-size: 21px;
    color: #000000;
    text-decoration: none;

    background-color: #ffffff;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 9px;
    padding-top: 11px;
    margin-left: 10px;

    width: 150px;

    box-sizing: border-box;
}

.registration-text:hover {
    color: #ee3643;
}

.registration-text:active {
    color: #b2b2b2;
}

/* catalog -----------------------------------------*/

.main-blocks-services{
    padding-top: 38px;
    
}

.catalog-main-content {
    display: flex;
    justify-content: space-between
}

.breadcrumbs {
    list-style: none;

    padding: 0;

    display: flex;
    flex-wrap: wrap;
}

.breadcrumbs a {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    color: #000000;
    text-decoration: none;

    padding-left: 20px;
    padding-right: 20px;
}

.breadcrumbs-unit {
    position: relative;
} 

.breadcrumbs-unit::before {
    content: "";

    position: absolute;
    top: 6px;
    left: -5px;

    border-right: 2px solid #d0d4da;
    border-top: 2px solid #d0d4da;

    width: 7px;
    height: 7px;

    transform: rotate(45deg);
}

.breadcrumbs-main-link {
    position: relative;
    
    padding-left: 20px; 
}

.breadcrumbs-main-link::before {
    content: "";

    position: absolute;
    top: 2px;
    left: 0;

    background-image: url(../img/icon-home.svg);

    width: 14px;
    height: 12px;
}

.catalog-headline {
    background-color: #f2f6f8;

    margin-bottom: 20px;
}

.catalog-headline-text {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;

    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
}

.catalog-filter h3 {
    font-size: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;

    padding-bottom: 9px;
    padding-left: 18px;
    padding-top: 9px;
    margin: 0;
}

.catalog-filter {
    width: 230px;
}

.product-content {
    width: 690px;
}

.product-name {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 20px;
    text-align: center;

    margin: 0;
}

.product-catalog {
    margin-left: -15px;

    display: flex;
    flex-wrap: wrap;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-name span {
    text-transform: uppercase;
}

.product-old-price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #a9a9a9;
    text-align: center;
    text-decoration: line-through;

    margin-bottom: 23px;

    min-height: 18px;
    
    display: block;
}

.product-price {
    position: relative;

    font-family: 'PT Sans', 'Arial', sans-serif;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;

    background-color: #ee3643;

    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 24px;
    margin-left: 12px;
}

.product-price::after {
    content: ''; 

    position: absolute;
    right: -40px; 
    top: 0;

    border: 20px solid transparent;
    border-left: 20px solid #ee3643;
}

.range {
    background-color: #f7f3ec;
}

.range-block {
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 20px;
    padding-right: 20px;
}

.range-button {
    position: relative;

    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    border-bottom: 2px solid #e0ddd8;

    width: 20px;
    height: 22px;
}

.range-button::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;

    background-color: #ababab;
    border-radius: 50%;

    width: 4px;
    height: 4px;
}

.range-min {
    margin-right: 120px;
}

.range-bar {
    position: relative;
}

.range-bar::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 20px;

    background-color: #00ca74;

    width: 125px;
    height: 2px;
}

.range-bar::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 164px;

    background-color: #d7dcde;

    width: 20px;
    height: 2px;
}

.range-input {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
}

.price-input {
    border: none;
    background-color: #f7f3ec;

    margin-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 105px;

    box-sizing: border-box;
}

.catalog-filter fieldset {
    border: none;

    padding: 0;
    margin-top: 20px;
}

.filter-producer {
    border-top: 1px solid #e5e5e5;

    margin-top: 25px;
    padding-top: 25px;
}

.filter-charge {
    border-top: 1px solid #e5e5e5;

    padding-top: 25px;
}

.filter-title {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;

    padding-bottom: 20px;
}

.filter-option-list {
    list-style: none;

    padding: 0;
}

.filter-option {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;

    margin-bottom: 25px;
    margin-left: 35px;
}

.filter-option-radio-unit {
    position: relative;

    cursor: pointer;
}

.filter-option-radio-unit input[type="radio"] + .radio-indicator {
    position: absolute;
    top: -2px;
    left: -35px;

    border: 4px solid #b5b5b5;
    border-radius: 50%;

    width: 17px;
    height: 17px;
}

.filter-option-radio-unit input[type="radio"]:checked + .radio-indicator::before {
    content: "";

    position: absolute;
    top: 4px;
    left: 4px;

    background-color: #b5b5b5;
    border-radius: 50%;

    width: 9px;
    height: 9px;
}

.filter-option-checkbox-unit {
    position: relative;

    cursor: pointer;
}

.filter-option-checkbox-unit input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: -35px;

    background-image: url(../img/checkbox-off.svg);
    
    width: 23px;
    height: 23px;

    box-sizing: border-box;
}

.filter-option-checkbox-unit input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;

    background-color: #ffffff;
    background-image: url(../img/checkbox-on.svg);

    width: 26px;
    height: 23px;
}

.filter-button {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;

    padding-left: 38px;
    padding-right: 38px;
    padding-bottom: 9px;
    padding-top: 9px;
}

.sorting {    
    background-color: #f7f3ec;

    display: flex;
    justify-content: space-between;
}

.sorting-title {
    font-size: 18px;
    text-transform: uppercase;

    background-color: #f7f3ec;

    padding-bottom: 9px;
    padding-left: 18px;
    padding-top: 9px;
    padding-right: 0;
    margin: 0;
}

.sorting-list {
    list-style: none;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 9px;

    display: flex;
}

.sorting-unit {
    font-size: 16px;
    color: #b2b2b2;
    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 1px dotted #ee3643;

    margin-left: 50px;
}

.sorting-unit:hover {
    color: #000000;

    border-bottom: 1px solid #ee3643;
}

.sorting-unit:focus {
    color: #ee3643;

    border: none;
}

.sorting-unit-ascending {
    margin-right: 25px;
}

.sorting-unit-decrease {
    margin-right: 25px;
}

.sorting-unit-ascending-image {
    transform: rotate(180deg);
}

.sorting-unit-image path{
    fill: #c5c5c5;
}

.sorting-unit-image:hover path{
    fill: #231f20;
}

.sorting-unit-button:focus path {
    fill: #ee3643;
}

.catalog-link-list {
    list-style: none;

    padding: 0;
}

.page {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    list-style: none;

    padding: 0;
    margin-top: 32px;
    padding-left: 20px;

    display: flex;
}

.page-number {
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid #e5e5e5;
    border-radius: 5px;

    margin-right: 40px;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-right: 16px;
    padding-left: 17px;
}

.page-number:hover {
    border: 2px solid #bdc6ca;
}

.page-number:active {
    border: 2px solid #ee3643;
}

.page-number:focus {
    color: #ffffff;

    background-color: #ee3643;
    border: 2px solid #ee3643;
}

.page-number-next {
    color: black;
    text-transform: uppercase;
    text-decoration: none;

    border: 2px solid #e5e5e5;
    border-radius: 5px;

    margin-right: 40px;
    padding-bottom: 9px;
    padding-top: 9px;
    padding-right: 31px;
    padding-left: 31px;
}

.page-number-next:hover {
    border: 2px solid #bdc6ca;
}

.page-number-next:active {
    border: 2px solid #ee3643;
}

/* blocks ---------------------------------------------*/

.block-material { 
    background-color: #ffbf47;
}

.block-title-material{
    position: relative;    
}

.block-title-material::before {
    content: "";

    position: absolute;
    top: 31px;
    left: 213px;

    background-image: url(../img/icon-1.svg);

    width: 44px;
    height: 65px;
}

.block-tool {
    background-color: #3bbce3;
}

.block-title-tool{
    position: relative;    
}

.block-title-tool::before {
    content: "";

    position: absolute;
    top: 33px;
    left: 197px;

    background-image: url(../img/icon-2.svg);

    width: 75px;
    height: 60px;
}

.main-block {
    margin-top: 20px;

    width: 300px;
    height: 123px;
}

.block-equipment {
    background-color: #dc91d8;
}

.block-title-equipment{
    position: relative;    
}

.block-title-equipment::before {
    content: "";

    position: absolute;
    top: 31px;
    left: 191px;

    background-image: url(../img/icon-3.svg);

    width: 78px;
    height: 62px;
}

.block-discount {
    background-color: #8ed78f;
}

.block-title-discount{
    position: relative;    
}

.block-title-discount::before {
    content: "";

    position: absolute;
    top: 26px;
    left: 196px;

    background-image: url(../img/icon-4.svg);

    width: 59px;
    height: 72px;
}

.block-delivery {
    background-color: #ffc047;
}

.block-title-delivery{
    position: relative;    
}

.block-title-delivery::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 191px;

    background-image: url(../img/icon-5.svg);

    width: 78px;
    height: 63px;
}

.block-title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;

    margin: 0;
    padding-top: 22px;
    padding-left: 22px;
    padding-bottom: 14px;

}

.block-button {
    text-align: center;

    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    padding-bottom: 10px;
    padding-top: 9px;
    margin-left: 24px;

    width: 135px;
}

.block-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.block-button:active {
    background-color: rgba(0, 0, 0, 0.3);
}

.block-button-text {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.main-top-blocks {
    display: flex;
    justify-content: space-between;
}

.main-bottom-blocks {
    display: flex;
    justify-content: space-between;
}

.main-slider-block {
    position: absolute;

    margin-top: 20px;

    width: 620px;
    height: 266px;
}

.block-drill {
    background: #a37869 url('../img/slider-2.jpg') no-repeat;
}

.block-hammer-drill {
    background: #9d8c76 url('../img/slider-1.jpg') no-repeat;

    z-index: -1;
}

.slider-block-title {
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;

    margin: 0;
    padding-top: 20px;
    padding-left: 24px;
}

.slider-block-inscription {
    font-size: 18px;
    color: #ffffff;

    padding-left: 25px;
    margin: 0;
    margin-bottom: 132px;
    margin-top: 2px;
}

.slider-block-button {
    border-radius: 3px;

    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 46px;
    margin-left: 25px;
}

.slider-change-buttons{
    position: absolute;

    margin-top: 140px;
    
    width: 620px;

    display: flex;
    justify-content: space-between;

    z-index: 1;
}

.slider {
    position: relative;
}


.button-last {
    background: none;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: none;
    border-bottom: none;

    margin-left: 31px;

    width: 28px;
    height: 28px;

    transform: rotate(-45deg);

    outline: none;
    cursor: pointer;
}

.button-next {
    background: none;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-top: none;
    border-left: none;
    
    margin-right: 26px;

    width: 28px;
    height: 28px;

    transform: rotate(-45deg);

    outline: none;
    cursor: pointer;
}

.pagination-bullet-list {
    position: absolute;

    list-style: none;

    margin: 0;
    margin-top: 226px;
    margin-left: 230px;

    display: flex;

    z-index: 1;
}

.pagination-bullet-unit {
    margin-left: 20px;
    margin-top: 14px;
}

.pagination-bullet-unit input {
    position: absolute;
    left: -9999px;
}

.pagination-bullet-unit input:checked + label, 
.pagination-bullet-unit input:not(:checked) + label {
    position: relative;

    display: inline-block;
    cursor: pointer;
}

.pagination-bullet-unit input:checked + label:before, 
.pagination-bullet-unit input:not(:checked) + label:before {
    content: "";

    position: absolute;
    left: 5px;
    top: -15px;

    background-color: #ffffff;
    border-radius: 50%;

    width: 10px;
    height: 10px;
}

.pagination-bullet-unit input:checked + label:after, 
.pagination-bullet-unit input:not(:checked) + label:after {
    content: "";

    position: absolute;
    left: 7px;
    top: -13px;

    border-radius: 50%;
    background-color: #ee3643;

    width: 6px;
    height: 6px;

    opacity: 0;
}

.pagination-bullet-unit input:checked + label:after {
    opacity: 1;
}

/* popular---------------------------------------------- */

.popular-product-block {
    border: 1px solid #eaeaea;

    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;

    width: 220px;
    height: 318px;

    box-sizing: border-box;
}

.popular-product-block:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.product-block-new {
    position: relative;
}

.product-block-new::before {
    content: "";
     
    position: absolute;
    top: 0;
    right: 0;

    background-image: url(../img/new-flag.png);

    width: 60px;
    height: 59px;

    z-index: 1;
}

.popular-product {
    background-color: #f9f5f0;

    margin-top: 52px;

    display: flex;
    justify-content: space-between;
}

.popular-button {
    line-height: 18px;
    text-align: center;

    border-radius: 3px;

    padding-bottom: 11px;
    padding-top: 11px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    
    width: 253px;
    height: 18px;
}

.popular-products {
    margin-top: 10px;
    margin-left: -15px;

    display: flex;
    justify-content: space-between;
}

.popular-headline {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;

    margin-left: 25px;
}

.popular-products-buttons {
    margin-top: 45px;
    margin-bottom: 68px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popular-product-block {
    position: relative;
}

.popular-image {
    position: absolute;
    top: 0;
    left: 0;
} 

.popular-product-block:hover .popular-image {
    display: none;
}

.buy-button {
    position: relative;

    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #63a63e;
    border-bottom: 3px solid #367315;
    border-radius: 3px;

    padding-top: 10px;
    padding-right: 42px;
    padding-left: 46px;
    padding-bottom: 10px;
}

.buy-button::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 14px;

    background-image: url(../img/icon-cart.svg);
    opacity: 0.3;

    width: 15px;
    height: 15px;
}

.buy-button:hover {
    color: #ffffff;

    background-color: #5fbb2d;
}

.buy-button:active {
    background-color: #518534;
}

.to-bookmarks-button {
    font-size: 14px;
    color: #32425c;
    text-decoration: none;
    text-transform: uppercase;

    border: 3px solid #63a63e;
    border-radius: 3px;

    padding-bottom: 9px;
    padding-top: 9px;
    padding-right: 25px;
    padding-left: 29px;
    margin-top: 8px;
}

.to-bookmarks-button:hover {
    color: #32425c;

    border: 3px solid #32425c;
}

.to-bookmarks-button:active {
    color: #c1c6ce;

    border: 3px solid #c1c6ce;
}

.popular-produce {
    padding-bottom: 85px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.popular-produce a {
    border: 1px solid #eaeaea;

    margin-top: 20px;

    width: 218px;
    height: 143px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-produce a:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.popular-produce a:active {
    opacity: 0.3;
}

.popular-producer {
    background-color: #f9f5f0;

    margin-top: 10px;

    display: flex;
    justify-content: space-between;
}

.popular-producer-top {
    display: flex;
    justify-content: space-between;
}

.popular-producer-bot {
    margin-bottom: 85px;

    display: flex;
    justify-content: space-between;
}

/* sevice----------------------------------------------- */

.service {
    background-color: #f5f8f7;

    padding-top: 25px;
}

.servise-use {
    padding-top: 40px;

    display: flex;
}

.service-headline {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;

    margin-top: 38px;
}

.service-inscription {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;


    margin-top: -1px;
}

.service-text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

    margin-top: 23px;
}

.service-button-list {
    list-style: none;

    padding: 0;
    margin-bottom: 100px;
}

.service-button {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;
    text-align: start;
    line-height: 30px;
    
    background-color: #32425c;
    border: 1px solid #32425c;
    border-top: 1px solid #4d637b;

    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 22px;

    width: 240px;
}

.service-button:hover {
    background-color: #293449;
    border: 1px solid #293449;
    border-top: 1px solid #4d637b;
}

.service-button:focus {
    color: #32425c;

    background: #ffffff;
    border: 1px solid #ffffff;

    outline: none;
}

.service-title {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;

    margin: 0;
    padding-top: 11px;
}

.service-block-delivery {
    position: relative;

    font-weight: 400;

    padding-left: 80px;
    padding-bottom: 110px;
}

.service-block-delivery::after {
    content: "";

    position: absolute;
    top: 39px;
    left: 231px;

    background-image: url(../img/car.png);

    width: 468px;
    height: 261px;
}

.service-block-guarantee {
    position: relative;

    padding-bottom: 110px;
    padding-left: 80px;

    display: none;
}

.service-block-guarantee::after {
    content: "";

    position: absolute;
    left: 320px;
    top: 0;

    background-image: url(../img/medal.png);

    width: 389px;
    height: 283px;
}

.service-block-credit {
    position: relative;

    padding-bottom: 110px;
    padding-left: 80px;

    display: none;
}

.service-block-credit::after {
    content: "";

    position: absolute;
    left: 245px;
    top: 0;

    background-image: url(../img/credit.png);

    width: 465px;
    height: 285px;
}

.service-credit-button {
    border: none;
    border-radius: 5px;

    padding-right: 45px;
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* about us--------------------------------------------- */

.about-us-content {
    padding-top: 55px;
    padding-bottom: 96px;

    display: flex;
    justify-content: space-between;
}

.about-us-title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 100;
}

.about-us-inscription {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

    margin-top: -1px;
}

.about-us-second-inscription {
    margin-top: 23px;
}

.about-us-company-list {
    list-style: none;

    padding: 0;
    margin-top: 21px;
    margin-bottom: 26px;
}

.about-us-company {
    position: relative;

    font-size: 18px;

    padding-left: 36px;
    padding-bottom: 20px;
}

.about-us-company::before {
    content: "";

    position: absolute;
    left: 0;
    top: 10px;

    background-color: #ee3643;

    width: 25px;
    height: 2px;
}

.about-us-adress{
    width: 300px;
}

.about-us-map {
    margin-top: 18px;
    margin-bottom: 45px;
}

.about-us-button {
    border-radius: 3px;

    padding-bottom: 10px;
    padding-top: 11px;
    padding-left: 41px;
    padding-right: 40px;
}

.about-us-adress-button {
    border-radius: 3px;

    padding-bottom: 10px;
    padding-top: 11px;
    padding-left: 64px;
    padding-right: 59px;
}

/* feedback--------------------------------------------- */

.modal {
    display: none;
}

.modal-show {
    display: block;
}

.modal-feedback {
    position: fixed;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    border-top: 7px solid #ff5257;
    background-color: #ffffff;
    
    padding-bottom: 20px;

    width: 620px;   
}

.feedback-content {
    position: relative;

    margin: 0 auto;

    width: 460px;
}

.feedback-user-name-input {
    border: 2px solid #dee3e4;

    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-top: 10px;

    width: 200px;
}

.feedback-e-mail-input {
    border: 2px solid #dee3e4;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-top: 10px;

    width: 200px;
}

.feedback-message-input {
    border: 2px solid #dee3e4;

    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    margin-top: 10px;

    width: 440px;
}

.feedback-top {
    margin-top: 45px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.feedback-top-item-left {
    margin-right: 20px;
}

.feedback-title {
    font-size: 18px;
    font-weight: 700;
}

.close-feedback {
    position: absolute;
    right: -70px;
    top: -40px;

    background: none;
    background-image: url(../img/icon-close.svg);
    border: none;

    width: 21px;
    height: 21px;

    cursor: pointer;
}

.feedback-button {
    border: none;

    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 75px;

    width: 100%;

    
}

/* checkout--------------------------------------------- */

.modal-checkout {
    position: fixed;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background-color: #ffffff;
    border-top: 7px solid #ff5257;

    margin: 0 auto;

    width: 620px;
}

.close-checkout {
    position: absolute;
    right: 10px;
    top: -20px;

    background: none;
    background-image: url(../img/icon-close.svg);
    border: none;

    width: 21px;
    height: 21px;

    cursor: pointer;
}

.checkout-content {
    position: relative;
}

.checkout-inscription {
    position: relative;

    font-size: 30px;

    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 179px;
    padding-right: 125px;
}

.checkout-inscription::before {
    content: "";

    position: absolute;
    top: 48px;
    left: 80px;

    background-image: url(../img/icon-mark.svg);

    width: 66px;
    height: 66px;
}

.checkout-bottom-buttons {
    background-color: #f1f1f1;

    margin: 0 auto;
    padding-top: 37px;
    padding-bottom: 37px;

    width: 620px;

    display: flex;
    justify-content: center;
}

.checkout-button {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 62px;
    padding-left: 59px;
    margin-right: 10px;
}

.checkout-button-continue {
    border: none;

    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 48px;
    padding-left: 44px;
    margin-left: 10px;

    cursor: pointer;
}


/* about drill------------------------------------------ */

.about-drill {
    background-color: #f2f6f8;
}

.about-drill-title {
    font-size: 30px;
    text-transform: uppercase;
}

.about-drill-inscription {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.about-drill-content {
    padding-bottom: 75px;
    padding-top: 65px;
}

/* footer----------------------------------------------- */

.footer-top-content {
    padding-bottom: 31px;
}

.footer-logo {
    font-size: 30px;
    line-height:30px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    background-color: #ee3643;
    box-shadow: 0 5px 0 #b52933;

    padding-top: 18px;
    padding-bottom: 16px;

    width: 220px;
    height: 63px;

    box-sizing: border-box;
}

.footer-logo:hover {
    background-color: #ca2c37;
}

.footer-logo:active {
    background-color: #ba2732;
}

.footer-navigation {
    list-style: none;

    padding: 0;

    display: flex;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-nav nav {
    margin-top: 23px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-info nav {
    margin-top: 4px;
}

.footer-unit {
    font-size: 18px;
    color: #f3f7f9;
    text-decoration: none;

    margin-left: 59px;
}

.footer-unit:hover {
    text-decoration: underline;
}

.footer-unit:active {
    color: #929caa;
}

.footer-element {
    font-size: 18px;
    color: #ffd180;
    text-decoration: none;

    padding-left: 59px;
}

.footer-element:hover {
    text-decoration: underline;
}

.footer-element:active {
    color: #998a6e;
}

.footer-adress {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;

    margin-left: 3px;
    margin-top: 19px;
}

.footer-phone-number {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
    text-decoration: none;
}

.footer-company {
    font-size: 16px;
    line-height: 18px;
    color: #f3f7f9;

    margin: 0;
}

.footer {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;

    padding-top: 37px;
}

.footer-bottom-content {
    padding-bottom: 30px;
    
    display: flex;
}

.footer-feedback {
    display: flex;
}

.footer-feedback span {
    font-size: 16px;
    color: #ffffff;
}

.footer-feedback a {
    font-size: 16px;
    color: #ffd180;
    text-decoration: none;

    margin-right: 50px;
}

.footer-feedback a:hover {
    text-decoration: underline;
}

.footer-feedback a:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-social{
    margin-left: 165px;
    margin-top: -2px;

    width: 131px;

    display: flex;
    justify-content: space-between;
}

.footer-social a {
    width: 41px;
    height: 41px;

    background-color: #212a3a;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social a:hover,
.footer-social a:active {
    background-color: #ee3643;
}

/* map------------------------------------------------- */

.modal-map {
    position: fixed;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    background: url('../img/big-map.png') no-repeat;

    width: 980px;
    height: 506px;
}

.modal-map iframe {
    position: relative;
}

.close-map-button {
    position: absolute;
    top: 20px;
    right: 20px;

    background: none;
    background-image: url(../img/icon-close.svg);
    border: none;

    width: 21px;
    height: 21px;

    cursor: pointer;
}




