body {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 17px;

    margin: 0;
    padding: 0;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    width: 940px;

    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.button-red {          
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #ee3643;
}

.button-red:hover {
    background-color: #ca2c37;
}

.button-red:active {
    background-color: #ba2732;
}

/* header */

.header-headline {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;

    margin-left: 52px;
}

.header-bookmarks {
    color: #ffffff;
    text-decoration: none;
}

.header-bookmarks:active {
    color: #999ca1;

    background-color: #161d29;
}

.header-basket {
    color: #ffffff;
    text-decoration: none;
}

.header-basket:active {
    color: #999ca1;

    background-color: #161d29;
}

.header-checkout {
    color: #ffffff;
    text-decoration: none;

    background-color: #63a63e;
}

.header-checkout:hover {
    background-color: #5fbb2d;
}

.header-checkout:active {
    color: #999ca1;

    background-color: #518534;
}

.header-unit {
    color: #ffffff;
    text-decoration: none;
    list-style-type: none;
}

.header-unit:hover {
    background-color: #293449;
}

.header-unit:active {
    color: #999ca1;

    background-color: #293449;
}

header {
    background-color: #f3f7f9;
}


.header-top {
    background-color: #293449;

    margin-bottom: 42px;
}

.header-top-content {
    margin: 0 auto;

    width: 940px;

    display: flex;
    justify-content: space-between;
}

.header-top-content-left {
    display: flex;
}

.header-mid-content {
    display: flex;
    justify-content: space-around;
}

.header-contact {
    margin-left: 70px;
    margin-right: 50px;
}

.logo {
    font-size: 24px;
    line-height:24px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #ee3643;
    border-bottom: 5px solid #b52933;

    width: 200px;
}

.logo:hover {
    background-color: #ca2c37;
}

.logo:active {
    background-color: #ba2732;
}

.navigaiton {
    background-color: #32425c;
}

.navigation-list {
    list-style: none;

    padding: 0;

    display: flex;
    justify-content: space-around;
}

.phone-number {
    font-size: 21px;
    color: #ee3643;
    text-decoration: none;

    border:3px solid #ffffff
}

.adress {
    font-size: 14px;
    color: #32425c;
}

.account-name {
    font-size: 21px;
    color: #000000;
    text-decoration: none;
}

.account-name:active {
    color: #b7bfc8;
}

.account-links {
    list-style: none;

    padding: 0;

    display: flex;
}

.account-link {
    margin-right: 20px;
}

.header-account-buttons {
    display: flex;
    justify-content: flex-end;
}

.user-account {
    font-size: 16px;
    color: #32425c;
}

.user-account:hover {
    color: #ee3643;
}

.user-account:active {
    color: #b7bfc8;
}

.sign-in-button {
    font-size: 21px;
    color: #000000;

    background-color: #ffffff;

    width: 121px;
    
    display: flex;
}

.sign-in-button:hover {
    color: #ee3643;
}

.sign-in-button:active {
    color: #b2b2b2;
}

.registration-text {
    font-size: 21px;
    color: #000000;
    text-decoration: none;

    background-color: #ffffff;

    width: 150px;

}

.registration-text:hover {
    color: #ee3643;
}

.registration-text:active {
    color: #b2b2b2;
}

.my-orders {
    font-size: 16px;
    color: #32425c;
}

.my-orders:hover {
    color: #ee3643;
}

.my-orders:active {
    color: #b7bfc8;
}

/* catalog -----------------------------------------*/

.catalog-main-content {
    display: flex;
}

.catalog-link-list {
    list-style: none;

    display: flex;
}

.catalog-link {
    font-size: 13px;
    color: #000000;
    text-decoration: none;

    margin-right: 45px;
}

.catalog-headline {
    background-color: #f2f6f8;
}

.catalog-headline-text {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.catalog-title {
    font-size: 13px;
    text-transform: uppercase;
}

.product-name {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    line-height: 20px;
}

.product-row {
    display: flex;
    justify-content: space-between;
}

.product-name span {
    text-transform: uppercase;
}

.product-old-price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #a9a9a9;
}

.product-price {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;

    background-color: #ee3643;
}

.catalog-link {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.filter {
    background-color: #f2f6f8;
}

.filter-title {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
}

.range {
    background-color: #f2f6f8;
}

.range-input {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
}

.filter-option-list {
    list-style: none;

    padding: 0;
}

.filter-option {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}

.filter-button {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.sorting {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    background-color: #f2f6f8;
    
    display: flex;
}

.sorting-list {
    list-style: none;

    padding: 0;

    display: flex;
}

.sorting-unit {
    font-size: 13px;
    color: #b2b2b2;
    text-decoration: none;
    text-transform: uppercase;

    border-bottom: 1px dotted #ee3643;
}

.sorting-unit:hover {
    color: #000000;

    border-bottom: 1px solid #ee3643;
}

.sorting-unit:active {
    color: #ee3643;

    border: none;
}

.catalog-link-list {
    padding: 0;

    list-style: none;
}

.buy-button {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: #63a63e;
}

.buy-button:hover {
    color: #ffffff;

    background-color: #5fbb2d;
}

.buy-button:active {
    background-color: #518534;
}

.to-bookmarks-button {
    font-size: 14px;
    color: #32425c;
    text-decoration: none;
    text-transform: uppercase;

    border: 3px solid #63a63e;
}

.to-bookmarks-button:hover {
    color: #32425c;

    border: 3px solid #32425c;
}

.to-bookmarks-button:active {
    color: #c1c6ce;

    border: 3px solid #c1c6ce;
}

.page {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    list-style: none;

    padding: 0;

    display: flex;
}

.page-number {
    color: black;
    text-transform: uppercase;

    margin-right: 40px;

    border: 2px solid #e5e5e5;
}

.page-number:hover {
    border: 2px solid #bdc6ca;
}

.page-number:active {
    border: 2px solid #ee3643;
}

/* blocks ---------------------------------------------*/

.block-material {
    background-color: #ffbf47;
}

.block-tool {
    background-color: #3bbce3;
}

.main-block {
    width: 300px;
    height: 125px;
}

.block-equipment {
    background-color: #dc91d8;
}

.block-discount {
    background-color: #8ed78f;
}

.block-delivery {
    background-color: #ffc047;
}

.block-title {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
}

.block-text {
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;

    background-color: rgba(178, 178, 178, 0.5);
    
}

.block-text:hover {
    background-color: #cccccc;
}

.block-text:active {
    background-color: #b2b2b2;
}

.main-top-blocks {
    display: flex;
    justify-content: space-between;
}

.main-bottom-blocks {
    display: flex;
    justify-content: space-between;
    
}

.main-slider-block {
    width: 620px;
    height: 266px;
}

.block-drill {
    background: #a37869 url('../img/slider-2.jpg') no-repeat;
}

.block-hammer-drill {
    background: #9d8c76 url('../img/slider-1.jpg') no-repeat;

}

.slider-block-title {
    font-size: 36px;
    color: #ffffff;
    text-transform: uppercase;
}

.slider-block-inscription {
    font-size: 18px;
    color: #ffffff;
}

/* popular---------------------------------------------- */

.popular-product {
    background-color: #f9f5f0;

    display: flex;
    justify-content: space-between;
}

.popular-button {
    line-height: 18px;

    width: 253px;
}

.popular-products {
    display: flex;
    justify-content: space-between;
}

.popular-headline {
    font-size: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.popular-producer {
    background-color: #f9f5f0;

    display: flex;
    justify-content: space-between;
}

.popular-producer-top {
    display: flex;
    justify-content: space-between;
}

.popular-producer-bot {
    display: flex;
    justify-content: space-between;
}

/* sevice----------------------------------------------- */

.service {
    background-color: #f5f8f7;
}

.servise-use {
    display: flex;
    justify-content: space-between;
}

.service-headline {
    font-size: 30px;
    text-transform: uppercase;
}

.service-inscription {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.service-text {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.service-button-list {
    list-style: none;

    padding: 0;
}

.service-button {
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 21px;
    color: #ffffff;

    background-color: #32425c;
}

.service-button:hover {
    background-color: #293449;
}

.service-title {
    font-size: 36px;
    color: #32425c;
    text-transform: uppercase;
}

/* about us--------------------------------------------- */

.about-us-content {
    display: flex;
    justify-content: space-between;
}

.about-us-title {
    font-size: 30px;
    text-transform: uppercase;
}

.about-us-inscription {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.about-us-company-list {
    list-style: none;

    padding: 0;
}

.about-us-company {
    font-size: 18px;
}

/* feedback--------------------------------------------- */

.feedback-content {
    margin:0 auto;

    width: 460px;
}

.feedback-top {
    display: flex;
    justify-content: space-between;
}

.feedback-title {
    font-size: 18px;
}

/* checkout--------------------------------------------- */

.checkout-content {
    margin: 0 auto;

    width: 460px;
}

.checkout-inscription {
    font-size: 30px;
}

/* about drill------------------------------------------ */

.about-drill {
    background-color: #f2f6f8;
}

.about-drill-title {
    font-size: 30px;
    text-transform: uppercase;
}

.about-drill-inscription {
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

/* footer----------------------------------------------- */

.footer-logo {
    font-size: 30px;
    line-height:30px;
}

.footer-navigation {
    list-style: none;

    padding: 0;

    display: flex;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.footer-unit {
    font-size: 18px;
    color: #f3f7f9;
    text-decoration: none;
}

.footer-unit:hover {
    text-decoration: underline;
}

.footer-unit:active {
    color: #929caa;
}

.footer-element {
    font-size: 18px;
    color: #ffd180;
    text-decoration: none;
}

.footer-element:hover {
    text-decoration: underline;
}

.footer-element:active {
    color: #998a6e;
}

.footer-adress {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-phone-number {
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
}

.footer-company {
    font-size: 16px;
    line-height: 18px;
    color: #f3f7f9;
}

.footer-link {
    font-size: 16px;
    color: #ffd180;
    text-decoration: none;

    margin-right: 50px;
}

.footer-link:hover {
    text-decoration: underline;
}

.footer-link:active {
    color: #ee3643;
    text-decoration: none;
}

.footer-text {
    font-size: 16px;
    color: #ffffff;
}

.footer {
    background-color: #32425c;
}

.footer-bottom {
    background-color: #293449;

}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
}

.footer-feedback {
    display: flex;
}

